.header {
  font-size: 18px;
  font-weight: 700;
  color: #828282;
  line-height: 22px;
}

.header__container {
  padding-top: 29px;
  padding-bottom: 36px;

  border-bottom: 1px solid #828282;
}

.nav__list {
  justify-content: space-between;
  align-items: center;
}

.nav__item:hover,
.nav__item:active {
  color: #070707; 
}