@media (max-width: 575px) {

  // HEADER
  .header__nav {
    display: none;
  }


  // MAIN INFO SECTION
  .main-info {
    padding-bottom: 80px;
  }

  .main-info__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-info__title {
    margin-bottom: 14px;
  }

  .main-info__desc {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .main-info__lang {
    display: none;
  }

  .main-info__img {
    align-self: center;
  }

  .burger {
    display: block;
    top: 58px;
    right: 30px;
    position: absolute;

    .burger__line:nth-child(2) {
      // display: none;
    }

    .burger__line:first-child {
      transform: rotate();
    }
  }

  .open {
    // display: block;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 812px;

    border: none;

    background-color: #fff;

    .nav__list {
      position: relative;

      padding: 66px;

      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    .nav__item:not(:last-child) {
      margin-bottom: 68px;
    }

    .nav__link {
      font-size: 34px;
      line-height: 42px;
    }
  }


  // ABOUT SECTION
  .about__container {
    padding-top: 75px;
    padding-bottom: 72px;

    .section-title {
      margin-bottom: 35px;
    }
  }

  .about__desc {
    max-width: 80%;
  }

  // SKILLS SECTION
  .skills__container {
    padding-top: 80px;
    padding-bottom: 100px;

    .section-title {
      margin-bottom: 36px;
    }
  }

  .skills__subtitle {
    margin-bottom: 78px;
  }

  .skills__list {
    padding: 0 20px;

    justify-content: center;
    align-items: center;
  }

  .skills__item {
    flex-basis: 166px;
    align-self: center;

    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // PORTFOLIO SECTION
  .portfolio__container {
    padding-top: 77px;
    padding-bottom: 84px;

    .section-title {
      margin-bottom: 72px;
    }
  }

  .portfolio__item:not(:last-child) {
    margin-bottom: 82px;
  }

  .portfolio__img {
    margin-bottom: 26px;
  }

  // CONTACTS FOOTER
  .contacts {
    padding-top: 78px;
    padding-bottom: 98px;

    .section-title {
      margin-bottom: 30px;
    }
  }

  .contacts__desc {
    margin-bottom: 44px;
  }

  .contacts__btn {
    margin-bottom: 48px;

    width: 316px;
  }

  .contacts__list {
    padding: 0 14px;
  }

  .contacts__smalldesc {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}