.portfolio {
  background-color: #f6f6f6;
}

.portfolio__container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.portfolio__container .section-title {
  margin-bottom: 54px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 102px;
}

.portfolio__item--block {
  margin: 0;
}

.portfolio__img {
  margin-bottom: 38px;
}

.portfolio__item--desc {
  text-align: center;
}

.portfolio__item--link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #070707;
}